<!DOCTYPE html>
<html>
  <head>
    <title><%= serviceName %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <div id="wrap">
      <h1><%= serviceName %></h1>
      <ul id="game-list">
      <% for ( var game in gameList ) {
           game = gameList[game];
           var stylePic = game.preview ? 'background-image:url('+game.preview+')' : '';
      %>
        <li><div>
          <a class="pic" style="<%= stylePic %>"
             href="//<%= domain %>:<%= game.port %>/"></a>
          <h2><a href="//<%= domain %>:<%= game.port %>/">
            <%= game.gameConfig.title %>
          </a></h2>
          <p><%= game.gameConfig.description %></p>
        </div></li>
      <% } %>
      </ul>
    </div>
  </body>
</html>
